build-FuzzyLiteTest-Desktop-Debug
build-FuzzyLiteTest-Desktop-Release

build-CameraTest-Desktop-Debug
build-CameraTest-Desktop-Release

build-Test_Lidar-Desktop-Debug
build-Test_Lidar-Desktop-Releas

build-robot_control-Desktop-Release
build-robot_control-Desktop-Release
